
*.DS_Store
*.__pycache__
*.pyc
# *.gpkg
# *.graphml
# *.gpkg-journal
# *.osm.pbf
# *.parquet

# data/study_area_polygon/dk/study_area_polygon.gpkg


src/__pycache__/simplification_functions.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/evaluation_functions.cpython-310.pyc
src/__pycache__/graph_functions.cpython-310.pyc
src/__pycache__/plotting_functions.cpython-310.pyc
src/__pycache__/matching_functions.cpython-310.pyc


results/OSM/dk/maps_static/*
results/OSM/dk/plots/*
results/OSM/dk/maps_interactive/*
results/OSM/dk/data/*

results/REFERENCE/dk/maps_static/*
results/REFERENCE/dk/plots/*
results/REFERENCE/dk/maps_interactive/*
results/REFERENCE/dk/data/*

results/COMPARE/dk/maps_interactive/*
results/COMPARE/dk/maps_static/*
results/COMPARE/dk/data/*
results/COMPARE/dk/plots/*
feature_matching_hpc/scripts/src/matching_functions.py

data/OSM/dk/processed/*
data/OSM/dk/raw/*
data/REFERENCE/dk/processed/*
data/COMPARE/dk/processed/*
feature_matching_hpc/dk/data/*
