*.osm.pbf
*.parquet
*.DS_Store
*.__pycache__
*.pyc
*.gpkg
*.graphml
*.png
*.gpkg-journal
data/study_area_polygon/dk/study_area_polygon.gpkg

src/__pycache__/simplification_functions.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/evaluation_functions.cpython-310.pyc
src/__pycache__/graph_functions.cpython-310.pyc
src/__pycache__/plotting_functions.cpython-310.pyc
src/__pycache__/matching_functions.cpython-310.pyc


results/OSM/dk/maps_static/*
results/OSM/dk/plots/*
results/OSM/dk/maps_interactive/*
results/OSM/dk/data/*